<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
    <meta charset="UTF-8">
    <title>Guest Manage</title>

<body role="document">

<form method="post" action="/add_event_action/">
    发布会id：<input type="text" name="eid"><br>
    发布会名称: <input type="text" name="name"> <br>
    参加人数: <input type="text" name="limit"> <br>
    状态：<input type="text" name="status"> <br>
    地址：<input type="text" name="address"> <br>

    发布会时间:<input type="date" name="start_time">

   <button id="btn" type="submit">添加</button>
      {% csrf_token %}

</form>

</body>
</html> `