<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
    <meta charset="UTF-8">
    <title>Guest Manage</title>

<body role="document">

<form method="post" action="/user_register/">

    发布会名称: <input type="text" name="name"> <br>
    参加人数: <input type="password" name="limit"> <br>
    地址：<input type="text" name="address"> <br>
    发布会时间:<input type="date" name="start_time">
    <input  id="btn" type="submit" value="注册">
      {% csrf_token %}

</form>

</body>
</html>