<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewprot" content="width=device-width,inital-scala=1">
    <!--上述三个meta标签必须放在最前面，任何其他内容都必须跟随其后-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Django Page</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <form class="form-signin" method='post' action='/register_act/'>
        <h2 class="form-signin-heading">注册</h2>

        <label  class='group' for="Username" class="sr-only"  >Username</label>
        <input type="text" id="username" name="username">

        <label  class='group' for="Username" class="sr-only" >password</label>
        <input type="password" name="password"><br>

        <label  class='group' for="Username" class="sr-only" >email</label>
        <input type="text" name="email">
         <input  style="width:300px;margin:auto" class="btn btn-lg btn-primary btn-block " id="btn" type="submit" value="注册">











    </form>

    </button>




</div>


</body>
</html>